body{
    font-family: 'roboto';
    font-weight: 400 !important;
    background-color: #F2ECE4;
}
a{
    color: black !important;
}
p{
    font-size: 18px;
}
/* nav */
.navigation{
    background-color: #D9D4C5;
}
nav a.btn{
    background-color: #A69D8D;
}
.navbar-brand,h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
}
h3{
    color: #59463B;
}
/* navigasi */
.navigasi img{
    width: 28px;
}
.navigasi a{
    color: #59463B !important;
    font-size: 24px;
    line-height: auto;
}
/* pembayaran */
a.btn{
    background-color: #A69D8D;
}
/* footer */
footer{
    background-color: #D9D4C5;
}