
body{
    font-family: 'roboto';
    font-weight: 400 !important;
    background-color: #F2ECE4;
}
a{
    color: black !important;
}
p{
    font-size: 14px;
}
.d-none{
    transition: ease-in 1s !important;
}

/* nav */
.navigation{
    background-color: #D9D4C5;
}
nav a.btn{
    background-color: #A69D8D;
}
.navbar-brand{
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
}
h3{
    color: #59463B;
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
}

/* heading */
.heading{
    padding: 40px 0 80px;
    background-color: #D9D4C5;
}
.heading h1,.heading h6,.heading a{
    opacity: 0;
}
.heading h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    transition: .8s;
}
.heading h6{
    font-weight: 400;
    transition: 1.2s;
}
.heading .btn{
    background-color: #A69D8D;
}
.heading a{
    transition: 1.5s;
}

/* harga */
.harga{
    transition: 0.5s;
}
.card{
    border-radius: 20px;
    border: solid 2px black;
    background-color: transparent;
    height: 480px;
}
.card h2{
    font-size: 28px;
}
.card h3{
    font-family: 'Bebas Neue', cursive; 
    color: black; 
}
.card div.position-absolute{
    bottom: 20px;
    left: 0;
}
.card a{
    background-color: #A69D8D;
}

/* porto */
.porto{
    transition: 0.5s;
}
.porto img{
    border-radius: 20px;
}

.porto .btn{
    background-color: #A69D8D;
}
/* alasan */
.alasan {
    transition: 0.5s;
}

/* testi */
.testi{
    transition: 0.5s;
}
.carousel-inner{
    padding: 0 130px;
}
.testi img{
    border-radius: 20px;
}

/* footer */
footer{
    background-color: #D9D4C5;
}
